vim/bundle/
oh-my-zsh/

config/enchant
config/gedit
config/libreoffice
config/mono.addins
config/pulse
config/Pinta
config/Slack/
config/dconf/
config/evolution/
config/gtk-3.0/
config/ibus/
config/nautilus/
config/user-dirs.dirs
config/user-dirs.locale
